# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

*.log
*.pot

# Config files
utilities/*.ini

#pycharm
.idea/

#vscode
.vscode/
*.gdb
*.lock
*.mxd
*.mxd
*.adf
*.dat
*.nit
*.dbf
*.sbn
*.shp
*.cpg
*.prj
*.sbx
*.shx
*.db
*.dir
*.aux.xml
*.csv
*.shp.xml
*.dbf.xml
*.ini
*.txt.zml
*/config_file.ini
*.bak
*.tfw
*.tif
