[inputs]
analysis = forest_loss, emissions
shapefile = C:\Users\concessions.shp
threshold = all
tcd_categorized = no
geodatabase = C:\Users\mosaics.gdb
area = area_intact_degraded
forest = degraded
output_file_name = provincial_degraded_forest_extent_tcd
intersect = C:\Users\peru.shp
intersect_col = admin_name
user_def_column_name = id_adm2